html, body {
    background-color: #4CAF50;
    margin: 0px;
}

div.main {
   width: 60%;
   height: 100%;
   margin: auto;
   background-color: #CBEACD;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.menu li {
    text-align: center;
    float: left;
}
ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li a:hover {
    background-color: #4CAF50;
    color: black;
}

div.content {
    margin: 5px;
}

.button-link {
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #4CAF50;
    padding: 10px 20px;
    margin: 0px 10px;
}

.button-link:hover {
    background-color: #64B967;
    cursor: pointer;
}

.button-list {
    text-align: center;
    width: 100%;
}

div.footer {
    text-align: center;
    position:fixed;
    background-color: #394039;
    color: #83CE86;
    bottom:0;
    width: 100%;
}

ul.error {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #EFA5A5;
    border: solid;
    border-color: #9C1010;
}

table.query-result{
    padding-bottom: 10px;
}

table.query-result td {
    vertical-align: top;
}