<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super Airport App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/airporter.css"
          th:href="@{css/airporter.css}" />
</head>
<body>
    <div class="main">
        <div th:replace="fragments/menu :: menu"></div>
        <p>Hello airporter enthusiast!!</p>
        <p>Choose wisely:</p>
        <a href="/query"><p>query</p></a>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>