<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super Airport App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/airporter.css"
          th:href="@{css/airporter.css}" />
</head>
<body>
    <div class="main">
        <div th:replace="fragments/menu :: menu"></div>
        <div class="content">
            <p>Hello airporter enthusiast!!</p>
            <p>Choose wisely:</p>
            <table class="button-list">
                <tr>
                    <td>
                        <a href="/query">
                            <button class="button-link">Query</button>
                        </a>
                    </td>
                    <td>
                        <a href="/report">
                            <button class="button-link">Report</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>