<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super Airport App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/airporter.css"
          th:href="@{css/airporter.css}" />
</head>
<body>
    <div class="main">
        <div th:replace="fragments/menu :: menu"></div>
        <div class="content">
            <div th:replace="fragments/error :: error"></div>
            <h2>Query</h2>
            <p>Please enter country you are interested in</p>
            <form action="#" th:object="${form}" method="post">
                <table>
                    <tr>
                        <td>Country:</td>
                        <td><input type="text" th:field="*{country}" /></td>
                        <td><button class="button-link" type="submit">Show</button></td>
                    </tr>
                </table>
            </form>
            <div class="query-result" th:if="${country}">
                <h3>Result</h3>
                <table class="query-result">
                <tr>
                    <td>Country: </td> <td th:text="${country.name}" />
                </tr>
                <tr>
                    <td>Code: </td> <td th:text="${country.code}" />
                </tr>
                </table>
            </div>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>