<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super Airport App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/airporter.css"
          th:href="@{css/airporter.css}" />
</head>
<body>
    <div class="main">
        <div th:replace="fragments/menu :: menu"></div>
        <div class="content">
            <div th:replace="fragments/error :: error"></div>
            <h2>Query</h2>
            <p>Please enter country you are interested in</p>
            <form action="#" th:object="${form}" method="post">
                <table>
                    <tr>
                        <td>Country:</td>
                        <td><input type="text" th:field="*{country}" /></td>
                        <td><button class="button-link" type="submit" name="action" value="find">Find</button></td>
                    </tr>
                </table>
                <div th:if="${not #lists.isEmpty(options)}">
                    <ul class="options">
                        <li th:each="option, stat : ${options}">
                            <input type="radio" th:field="*{option}" th:value="${option.code}"/>
                            <label th:text="${option.name} + ' [' + ${option.code} + ']'" />
                        </li>
                    </ul>
                    <button class="button-link" type="submit" name="action" value="show">Show</button>
                </div>
            </form>
            <div class="query-result" th:if="${country}">
                <h3>Result</h3>
                <table class="query-result">
                    <tr>
                        <td>Country: </td> <td th:text="${country.name}" />
                    </tr>
                    <tr>
                        <td>Code: </td> <td th:text="${country.code}" />
                    </tr>
                    <tr th:if="${not #lists.isEmpty(airports)}">
                        <td th:rowspan="${#lists.size(airports) + 1}">Airports (Runways): </td>
                    </tr>
                    <tr th:each="airport, airStat : ${airports}">
                        <td>
                            <span th:text="${airStat.count} + ' [' + ${airport.ident} + '] ' + ${airport.name}"/>
                            <span th:if="${not #lists.isEmpty(airport.runways)}">
                                (<span th:each="runway,iterStat : ${airport.runways}"
                                       th:text="${runway.surface} + '[' + ${runway.length} + '-' + ${runway.width} + ']'
                                                + (${iterStat.last} ? '' : '; ' ) "></span>)
                            </span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>