<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Super Airport App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/airporter.css"
          th:href="@{css/airporter.css}" />
</head>
<body>
    <div class="main">
        <div th:replace="fragments/menu :: menu"></div>
        <div class="content">
            <div th:replace="fragments/error :: error"></div>
            <h2>Report</h2>
            <p>This report shows countries with the most and least amount of airports</p>
            <table class="report-result">
                <tr>
                    <th>No.</th>
                    <th>Country</th>
                    <th>Airport Count</th>
                </tr>
                <tr th:each="country, loopStat : ${top}">
                    <td th:text="${loopStat.count}" />
                    <td th:text="${country.country.name}" />
                    <td th:text="${country.airportCount}" />
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr th:each="country, loopStat : ${bottom}">
                    <td th:text="${loopStat.count}" />
                    <td th:text="${country.country.name}" />
                    <td th:text="${country.airportCount}" />
                </tr>
            </table>

        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>